# =========================================================================
# Space-Tech Core Data-Lake Exclusions
# =========================================================================
data/
*.las
*.laz
*.ply
*.bin
*.h5
*.pcd